.input-group {
    margin: 20px 20px;
}
td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
svg {
    height: 150px;
}

/* this says: find the first td inside of each row + find the first td and its child div  */
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}